# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Development and IDE files
.idea/
.vscode/
*.swp
*.swo
.cursor/


# Local environment files
.env.local
.env.Development
.env

